{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'commerce-product',
    'commerce-product--type-' ~ product_entity.bundle|clean_class,
    not product_entity.isPublished() ? 'is-unpublished',
    view_mode ? 'view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="large-6 column">
      {{ product.variation_field_media }}
    </div>
    <div class="large-6 column">
      <h3>{{ product.title }}</h3>
      <div class="product-fields">
        {{- product|without('variation_attributes','variation_title','variation_field_media') -}}
      </div>
    </div>
  </div>
</article>
