{#
/**
 * @file
 * Default theme implementation for a three column layout.
 *
 * This template provides a three column 33%-34%-33% display layout, with
 * additional areas for the top and the bottom.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--individual-product-search',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.top %}
      <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top') }}>
        {{ content.top }}
      </div>
    {% endif %}

    {% if content.sidebar %}
      <div {{ region_attributes.sidebar.addClass('layout__region', 'layout__region--sidebar') }}>
        {{ content.sidebar }}
      </div>
    {% endif %}

    {% if content.main %}
      <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main') }}>
        {{ content.main }}
      </div>
    {% endif %}
  </div>
{% endif %}
